html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainerHome {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-top: 12%;
  background: rgb(252, 252, 248);
  background: linear-gradient(
    90deg,
    rgba(252, 252, 248, 1) 0%,
    rgba(208, 208, 208, 1) 100%
  );
  width: 155%;
}

.joinInnerContainerHome {
  width: 40%;
}

.joinInputHome {
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
}

.headingHome {
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(1, 1, 1);
}

.buttonHome {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #050505;
  padding: 15px 20px !important;
  display: inline-block;
  border: none;
  width: 100%;
  border-radius: 10px;
}

.mt-20 {
  margin-top: 20px;
}
i {
  transform: translate(-50%, 30%);
  font-size: 25px;
}
.lock {
  transform: translate(-50%, 90%);
}
@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainerHome {
    height: 100%;
  }

  .joinInnerContainerHome {
    width: 90%;
  }
}

.buttonHome:focus {
  outline: 0;
}
