.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
  background-color: #ff9d00;
}
.e-schedule .e-schedule-toolbar .e-tbar-btn .e-tbar-btn-text {
  color: #ff9d00;
}
.e-input-group-icon .e-date .icon .e-icons .e-active {
  color: #ff9d00;
}
.cont {
  width: 90%;
  margin-right: 2%;
}
